.scroll-reveal {
  margin: 20px 0;
}

.scroll-reveal-text {
  font-size: clamp(1.6rem, 4vw, 3rem);
  line-height: 1.5;
  font-weight: 600;
  display: block;
  color: inherit;
}

.word {
  display: inline-block;
  margin-right: 0.25em;
}
